* {
    text-align: center;
}
body {
    background: #f2f3f5;
}

nav {
    position: relative;
    background: tomato;
    color: white;
    padding: 5px;
    ul {
        padding: 0;
    }
    ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        cursor: pointer;
    }
    
}
.pagination-bar {
    background: white;
    padding: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
ul.news-list {
    max-width: 800px;
    margin: 30px auto;
    li {
        list-style: none;
        padding: 20px 30px 20px 80px;
        border-bottom: 1px solid #eee;
        background-color: white;
        line-height: 20px;
        text-align: left;
        position: relative;
    }

    .score {
        color: #f60;
        font-size: 1.1em;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 0;
        width: 80px;
        text-align: center;
        margin-top: -10px;
    }
    .title {
        text-decoration: none;
        color: black;
    }

    .meta {
        font-size: .85em;
        color: #999;
        a {
            color: #999;
        }
    }
}
.disabled {
    color: #ccc;
}
